# Configurações do Banco de Dados
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=pdvsaas
DB_PORT=3306

# Configurações do Servidor
PORT=5000
NODE_ENV=development

# Configurações de CORS
CORS_ORIGIN_1=http://localhost:3000

# Configurações de JWT
JWT_SECRET=sua_chave_secreta_jwt_aqui

# Configurações de Email (opcional - para produção)
EMAIL_USER=seu_email@gmail.com
EMAIL_PASS=sua_senha_de_app_do_gmail

# Configurações do Asaas (opcional - para pagamentos)
ASAAS_API_KEY=sua_chave_api_do_asaas
ASAAS_ENVIRONMENT=sandbox 